@font-face {
  src: url(fonts/FuturaPTBold.otf);
  font-family: futura-pt;
}

@font-face {
  src: url(fonts/MyriadPro-Regular.otf);
  font-family: MyriadPro-Regular;
}

@font-face {
  src: url(fonts/MyriadPro-Light.otf);
  font-family: MyriadPro-light;
}

@font-face {
  src: url(fonts/Proxima-nova.otf);
  font-family: Proxima-nova;
}

/* .guarda {
  background-size: 100% 7%;
  background-repeat: no-repeat;
 } */


.guarda {
  margin-top: -2%;
  /* Si me queda un espacio arriba reajusto luego*/
  position: absolute;
  height: 33.5%;
  object-position: 0em -449%;
  /*Ahora responde bien*/
}

.fondogris {
  background-color: #f6f8f9;
  height: 210em
}

.gallery1 {
  margin-left: 26.7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 27% 27% 27%;
  grid-template-rows: repeat(15, 15vw);
  text-align: center;
  max-width: 83%;
  grid-row-gap: 1.65%;
  grid-column-gap: 5.3%;
}

.sidebar1 {
  position: absolute;
  text-align: center;
  margin-left: 3%;
  margin-top: 5.3%;
  width: 21.37%;
  /* height: 140%; */
  height: 41em;
  background: white;
  box-shadow: 0.01em 0.01em 0.2em lightgray;
}

.sidebar2 {
  position: absolute;
  text-align: center;
  margin-left: 3%;
  margin-top: 5.3%;
  width: 21.37%;
  /* height: 140%; */
  height: 55em;
  background: white;
  box-shadow: 0.01em 0.01em 0.2em lightgray;
  /* box-shadow: 20px 20px 50px 10px pink; */
}

.logo{
  margin: 2.5em;
  width: 4em;
  height: 3em;
  
}
.fab2 {
  text-align: center;
  font-size: 110%;
  margin: 3em 12px 0 5px;
  padding: 10px;
  color: black;
  border-radius: 100px;
  background-color: lightgray;
}

.fab2:hover {
  background-color: gray;
  transition: 0.3s;
}

.nametitle1 {
  margin-top: -1em;
  position: justify;
  color: black;
  font-family: futura-pt;
  font-size: 2.2vw;
  letter-spacing: -0.05em;
}

.nametitle1:hover {
  text-decoration: none;
}

.nametitle2 {
  padding-top: 8.2%;
  position: center;
  color: black;
  font-family: futura-pt;
  font-size: 1.7vw;
  text-decoration: none;
}

.nametitle2:hover {
  text-decoration: none;
}

.subtitle1 {
  position: center;
  color: gray;
  font-family: MyriadPro-light;
  /* font-size: 163%; */
  font-size: 1.45vw;
  letter-spacing: 0.17em;
  text-decoration:none;

}

.subtitle1:hover{

}

.subtitle2 {
  padding-top: 4.4%;
  position: center;
  color: gray;
  font-family: futura-pt;
  /* font-size: 163%; */
  font-size: 1.3vw;
  letter-spacing: -0.01em;
}

.url1-1 {
  padding: 100px 165px 0 0px; /*Cambiar a margin y reajustar */
  position: center;
  color: black;
  font-family: MyriadPro-regular, underline;
  /* font-size: 163%; */
  font-size: 1.30vw;
  letter-spacing: 0.02em;
}

.url1-1:hover {
  text-decoration: underline;
}

.url1-2 {
  padding: 2px 165px 0 0px;
  position: center;
  color: black;
  font-family: MyriadPro-Regular, underline;
  /* font-size: 163%; */
  font-size: 1.30vw;
  letter-spacing: 0.02em;
}

.url1-2:hover {
  text-decoration: underline;
}

.urlsidebar2 {
  color: gray;
  font-family: helvetica;
  margin-top: 5.5%;
  line-height: 188%;
  font-size: 0.95em;
}

.urlsidebar2:hover {
  color: black;
  text-decoration: none;
}

.contenedor {
  position: relative;
  margin-top: 82%;
  left: 3.2%;
  width: 113.9%;
  height: 117%;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
  width: 100%;
  max-height: 15em;
  border-radius: 5px;
}


#img1position {
  object-position: 0% 32%;
}

#img2position {
  object-position: 0% 32%;
}

#img3position {
  object-position: 40% 0%;
  height: 15em
}

#img4position {
  object-position: 0% 0%;
}

#img5position {
  object-position: 42% 0%;
  height: 15em;
}

#img6position {
  object-position: 0% 26%;
}

.profilepic {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 11.5%;
  width: 33%;
  min-width: 75px;
  min-height: 20px;
  border-radius: 100%;
  margin-left: 35%;
  margin-top: 14%;
}

.middle {
  transition: .1s ease;
  opacity: 0;
  background-image: linear-gradient(transparent, black);
  width: 100%;
  height: 27%;
  position: absolute;
  top: 87.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
}

/* .contenedor:hover .image {
  opacity: 0.3;
} */

.contenedor:hover .middle {
  /* Si le bajo la opacidad al middle el texto se aclara*/
  opacity: 1;
}

/* ACLARAR QUE ES EL TEXTO DEL IMG HOVER EN RUTA2 */

.text {
  /* background-color: #4CAF50; */
  color: white;
  opacity: 9;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.33vw;
  padding: 6% 4.4%;
}

body.modal{
  overflow: auto;
}



/* DE ACA PARA ABAJO CONTROLO EL CAROUSEL, RECORDAR SETTINGS */

.carousel .item {
  height: 300px;
}

.carousel{
  height: 60px;
}

.custom-tag{
height: auto;
}

.imagina{
  object-position: 10% 10%;
  height: auto
}

/* INTERIOR DE LA FOTO MODAL */
.carousel-inner{
  height: 160em
}

.slide{
  
}